.cover__link {
    text-decoration: none;
    color: white;
    z-index: 2;
    cursor: url(../../../images/Pointer.cur), pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 247px;
    width: 100%;
}

@media screen and (max-width: 767px) {
    .cover__link {
        min-height: 134px;
    }
}