.lead {
    min-height: 1005px;
    margin-left: 148px;
    margin-right: 148px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 56px;
}

@media screen and (max-width: 1279px) {
    .lead {
        min-height: 962px;
        margin-left: 48px;
        margin-right: 48px;
        padding-top: 48px;
    }
}

@media screen and (max-width: 1023px) {
    .lead {
        min-height: 862px;
        margin-left: 0;
        margin-right: 0;
        padding-top: 48px;
    }
}

@media screen and (max-width: 767px) {
    .lead {
        min-height: 406px;
        margin-left: 0;
        margin-right: 0;
        padding-top: 48px;
    }
}