.footer__links {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 767px) {
    .footer__links {
        display: grid;
        grid-template-rows: repeat(auto-fill, 1fr);
        row-gap: 32px;
    }
}