.cover__title {
    font-size: 72px;
    line-height: 1.055;
    font-weight: 900;
    max-width: 560px;
    width: 100%;
    text-align: center;
    z-index: 1;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 32px;
}

@media screen and (max-width: 767px) {
    .cover__title {
        font-size: 32px;
        line-height: 1.1;
        max-width: 288px;
        padding-bottom: 16px;
    }
}